.contacts{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: double  10px rgb(13, 233, 86);
    /* border-radius:  20%; */
    padding: 40px;
    height: 1000px;
    gap: 50px;
    border-radius: 99px;
}

.contactbox{
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* opacity: 7%; */
    border: double 10px white;
    border-radius: 30px;
}

.contact_img{
    grid-column-start: 2;
    height: 220px;
    width: 220px;
    margin-right: 30px;
    align-self: center;
    border-radius: none;
}

.contact_text{
    display: grid;
    grid-template-rows: 3fr 4fr 3fr;
}

.contact_name{
    display: grid;
    align-items: end;
    justify-items: start;
    font-size: 35px;
    color: rgb(211, 95, 17);
    margin-left: 30px;
}

.contact_id{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 25px;
    color: crimson;
    gap: 15px;
    margin-left: 3px;
}

.email{
    justify-items: center;
    display: grid;
    align-items: center;
}

.phone{
    display: grid;
    /* justify-content: center; */
    margin-left: 26px;
}

.contact_address{
    display: grid;
    font-size: 25px;
    color: crimson;
    margin-left: 30px;
}